// Colores semánticos
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

// Botón
.button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &.primary {
    background-color: $primary;

    &:hover {
      background-color: darken($primary, 10%);
    }

    &:active {
      background-color: darken($primary, 15%);
    }
  }

  &.secondary {
    background-color: $secondary;

    &:hover {
      background-color: darken($secondary, 10%);
    }

    &:active {
      background-color: darken($secondary, 15%);
    }
  }

  &.success {
    background-color: $success;

    &:hover {
      background-color: darken($success, 10%);
    }

    &:active {
      background-color: darken($success, 15%);
    }
  }

  &.info {
    background-color: $info;

    &:hover {
      background-color: darken($info, 10%);
    }

    &:active {
      background-color: darken($info, 15%);
    }
  }

  &.warning {
    background-color: $warning;

    &:hover {
      background-color: darken($warning, 10%);
    }

    &:active {
      background-color: darken($warning, 15%);
    }
  }

  &.danger {
    background-color: $danger;

    &:hover {
      background-color: darken($danger, 10%);
    }

    &:active {
      background-color: darken($danger, 15%);
    }
  }

  &.light {
    background-color: $light;

    &:hover {
      background-color: darken($light, 10%);
    }

    &:active {
      background-color: darken($light, 15%);
    }
  }

  &.dark {
    background-color: $dark;

    &:hover {
      background-color: darken($dark, 10%);
    }

    &:active {
      background-color: darken($dark, 15%);
    }
  }

  &.ghost {
    background-color: transparent;
    color: $primary;
    border: 1px solid $primary;

    &:hover {
      background-color: $primary;
      color: #fff;
    }

    &:active {
      background-color: darken($primary, 10%);
    }
  }
}
