@import "../../styles/mixins.scss";

.cart {
  display: flex;
  flex-direction: column;

  height: 100%;
  background-color: #fff;
  padding: 1rem;

  @include breakpoint(medium) {
    border-left: 1px solid #ccc;
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      padding: 0.5rem 0;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .empty-cart {
    font-style: italic;
  }

  .clear_cart {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
